body {
    background-color:white;
    font-family:  'Arial Narrow Bold', sans-serif, sans-serif;
    color: #333333;
    font-size: 16px;
    overflow-x: hidden;
  }
  .no-padding {
    padding: 0;
  }
  
  .no-border {
    border: none;
  }
 
  }
  h3 {
    font-size: 25px;
    font-weight: 100;
    line-height:20px;
   margin-left: 0%;
   margin-right: 80%;
   font-family: Georgia, 'Times New Roman', Times, serif;
  }
  p {
    text-align: center;
    margin-inline: 34px;
    font-size: medium;
  }